<!-- Homepage -->
<%= render partial: "newhome" %>

<!-- Loading할때 나오는 page -->
<div class="preloader" id="preloader">
    <div class="item">
      <%= image_tag asset_path('loading.gif') %>
    </div>
</div>

<!-- Navbar & mobile view Navbar -->
<%= render partial: "newnavbar" %>

<div class="white">
  <div class="container">
    <!-- ABOUT US -->
    <%= render partial: "newaboutus" %>

    <!-- portoflio-->
    <%= render partial: 'newportfolio' %>

    <!-- COSMO BLANC -->
    <%= render partial: "newcosmoblanc" %>

  </div>
</div>
