<!-- section Contact -->
  <section class="about-us" id="Contact-contact">
    <div class="content" id="contact">
      <h1>CONTACT</h1> <hr style="border-color: #d1aa88;"/>
      <p class="contact">
        To contact us please use the contact form visible.
      </p><br>
    </div>

    <div class="form">
      <%= form_for @contact, class: 'contact-form' do |f| %>
        <div class="form-group">
          <h3 style="margin-top: 1em; margin-bottom: 1em;">NAME</h3>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <h3 style="margin-top: 1em; margin-bottom: 1em;">E-MAIL</h3>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <h3 style="margin-top: 1em; margin-bottom: 1em;">MESSAGE</h3>
          <%= f.text_area :message, rows: 5, class: 'form-control' %>
        </div>
        <%= f.submit "SEND", class: "btn btn-default submit" %>
      <% end %>

      <div class="content" id="Contact-subscribe">
        <h1>SUBSCRIBE</h1> <hr style="border-color: #d1aa88;"/>
        <p class="contact">
          You can subscribe our newsletters.
        </p><br>
        <%= form_for @subscribe, class: 'subscribe-form' do |f| %>
          <div class="form-group">
            <h3 style="margin-top: 1em; margin-bottom: 1em;">E-MAIL</h3>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <%= f.submit "SUBSCRIBE", class: "btn btn-default submit", style: "margin-bottom: 4em;" %>
        <% end %>
      </div>

    </div>
  </section>
