<section class="portfolio" id="portfolio">
  <div class="portfolio-margin">

    <h1>PORTFOLIO</h1>
    <hr/>

    <!-- 1 item portoflio-->

    <ul class="grid">

      <li>
        <a href="#">
          <%= image_tag asset_path('portfolio1.jpg') %>
          <div class="text">
            <p>PORTFOLIO 1</p>
            <p class="description">Your text here...</p>
          </div>
        </a>
      </li>

      <!-- 2 item portoflio-->

      <li>
        <a href="#">
          <%= image_tag asset_path('portfolio2.jpg') %>
          <div class="no-text">
            <p></p>
            <p class="description"></p>
          </div>
        </a>
      </li>

      <!-- 3 item portoflio-->

      <li>
        <a href="#">
          <%= image_tag asset_path('portfolio3.jpg') %>
          <div class="no-text">
            <p></p>
            <p class="description"></p>
          </div>
        </a>
      </li>


      <!-- 4 item portoflio-->

      <li>
        <a href="#">
          <%= image_tag asset_path('portfolio4.jpg') %>
          <div class="no-text">
            <p></p>
            <p class="description"></p>
          </div>
        </a>
      </li>

      <!-- 5 item portoflio-->

      <li>
        <a href="#">
          <%= image_tag asset_path('portfolio5.jpg') %>
          <div class="no-text">
            <p></p>
            <p class="description"></p>
          </div>
        </a>
      </li>

    </ul>

  </div>
</section>
