<section class="about-us" id="portfolio">
  <h1>POTENTIAL PLACES</h1>
  <hr/>
    <!-- 1 item portoflio-->

    <ul class="grid">

      <li>
        <a href="#">
          <%= image_tag asset_path('poten1.jpg') %>
          <div class="text">
            <p>PORTFOLIO 1</p>
            <p class="description">Your text here...</p>
          </div>
        </a>
      </li>

      <!-- 2 item portoflio-->

      <li>
        <a href="#">
          <%= image_tag asset_path('poten2.jpg') %>
          <div class="no-text">
            <p></p>
            <p class="description"></p>
          </div>
        </a>
      </li>

      <!-- 3 item portoflio-->

      <li>
        <a href="#">
          <%= image_tag asset_path('poten3.jpg') %>
          <div class="no-text">
            <p></p>
            <p class="description"></p>
          </div>
        </a>
      </li>


      <!-- 4 item portoflio-->

      <li>
        <a href="#">
          <%= image_tag asset_path('poten4.jpg') %>
          <div class="no-text">
            <p></p>
            <p class="description"></p>
          </div>
        </a>
      </li>

      <!-- 5 item portoflio-->

      <li>
        <a href="#">
          <%= image_tag asset_path('poten5.jpg') %>
          <div class="no-text">
            <p></p>
            <p class="description"></p>
          </div>
        </a>
      </li>

      <li>
        <a href="#">
          <%= image_tag asset_path('poten6.jpg') %>
          <div class="no-text">
            <p></p>
            <p class="description"></p>
          </div>
        </a>
      </li>
    </ul>

  </div>
</section>
