
  <!-- Homepage -->
  <%= render partial: "home" %>

  <!-- Loading할때 나오는 page -->
  <div class="preloader" id="preloader">
      <div class="item">
        <img src="img/loading.gif">
      </div>
  </div>

  <!-- Navbar & mobile view Navbar -->
  <%= render partial: "navbar" %>

  <!-- ABOUT US -->
  <%= render partial: "aboutus" %>


  <div class="clear"></div>

    <%= render partial: 'panelintro' %>
    <%= render partial: 'market' %>
  <!-- portoflio-->
    <%= render partial: 'portfolio' %>
    <%= render partial: 'potential' %>
    <%= render partial: 'woringmovie' %>


   <div class="clear"></div>

    <!-- ABOUT US -->
   <%= render partial: "cosmoblanc" %>

    <!-- Contact-->
   <%= render partial: "contact" %>

    <!-- Footer -->
   <%= render partial: "footer" %>



   <script>
     $(function(){

       var $container = $('.grid');

       $container.imagesLoaded( function(){
         $container.masonry({
           itemSelector : 'li'
         });
       });

     });
   </script>
