<!-- section Contact -->
  <section class="contact" id="Contact-contact">
    <div class="content" id="contact">
      <h1>CONTACT</h1> <hr style="border-color: #d1aa88;"/>
      <p class="title">
        To contact us please use the contact form visible.
      </p><br>
    </div>

    <div class="form">
      <%= form_for contact, class: 'contact-form' do |f| %>
        <div class="form-group">
          <h3 style="margin-top: 1em; margin-bottom: 1em;">NAME</h3>
          <%= f.text_field :email, required: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <h3 style="margin-top: 1em; margin-bottom: 1em;">E-MAIL</h3>
          <%= f.text_field :name, required: true, class: 'form-control' %>
        </div>
        <div class="form-group">
          <h3 style="margin-top: 1em; margin-bottom: 1em;">MESSAGE</h3>
          <%= f.text_area :message, required: true, rows: 5, class: 'form-control' %>
        </div>
        <%= f.submit "SEND", class: "btn btn-default submit" %>
      <% end %>
      <br />
      <br />
      <br />
      <br />
    </div>
  </section>
